/* main styles */
/* ---------------------------------------------------------------------------- */
body {
  margin-top: 20px;
  background: #232323;
}

.table-id{
  display: none;
}

.active-circle {
  color: rgb(0, 179, 0) !important;
}

.fa-circle {
  color: gray;
}
/* ---------------------------------------------------------------------------- */


/* styles toggle button */
/* ---------------------------------------------------------------------------- */
.form-switch .form-check-input {
  width: 60px;
  height: 30px;
}

.form-switch .form-check-input:checked {
  background-color: rgb(0, 179, 0);
  border-color: rgb(0, 179, 0);
}
/* ---------------------------------------------------------------------------- */